#
# Armbian release template. Use to create all standard support images
#

common-gha-configs:
  armbian-gha: &armbian-gha
    runners:
      default: "ubuntu-latest" # or a ["tag", "list"]
      by-name:
        kernel: [ "self-hosted", "Linux", "alfa" ]
        uboot: [ "self-hosted", "Linux", "fast", "X64" ]
        armbian-bsp-cli: [ "fast" ]
      by-name-and-arch:
        rootfs-armhf: [ "self-hosted", "Linux", "ARM64" ]
        rootfs-arm64: [ "self-hosted", "Linux", "ARM64" ]
        rootfs-amd64: [ "self-hosted", "Linux", "X64" ]
        rootfs-riscv64: [ "self-hosted", "Linux", "X64" ]
        image-armhf: [ "self-hosted", "Linux", 'fast' ]
        image-arm64: [ "self-hosted", "Linux", 'fast' ]
        image-amd64: [ "self-hosted", "Linux", 'fast', "X64" ]
        image-riscv64: [ "self-hosted", "Linux", 'fast', "X64" ]

lists:

  armbian-security: &armbian-security
    - { BOARD: bananapim7, BRANCH: vendor }
    - { BOARD: inovato-quadra, BRANCH: current }
    - { BOARD: khadas-edge2, BRANCH: vendor, ENABLE_EXTENSIONS: "image-output-oowow,kali"}
    - { BOARD: khadas-vim1, BRANCH: current }
    - { BOARD: khadas-vim1s, BRANCH: legacy, ENABLE_EXTENSIONS: "image-output-oowow,kali"}
    - { BOARD: khadas-vim2, BRANCH: current }
    - { BOARD: khadas-vim3, BRANCH: current, ENABLE_EXTENSIONS: "image-output-oowow,kali" }
    - { BOARD: khadas-vim3l, BRANCH: current, ENABLE_EXTENSIONS: "image-output-oowow,kali" }
    - { BOARD: khadas-vim4, BRANCH: legacy, ENABLE_EXTENSIONS: "image-output-oowow,kali"}
    - { BOARD: lafrite, BRANCH: current }
    - { BOARD: lepotato, BRANCH: current }
    - { BOARD: odroidn2, BRANCH: current }
    - { BOARD: odroidn2l, BRANCH: current }
    - { BOARD: odroidm1, BRANCH: current }
    - { BOARD: odroidc4, BRANCH: current }
    - { BOARD: odroidhc4, BRANCH: current }
    - { BOARD: orangepizero2, BRANCH: current }
    - { BOARD: orangepizero2w, BRANCH: current }
    - { BOARD: orangepizero3, BRANCH: current }
    - { BOARD: renegade, BRANCH: current }
    - { BOARD: radxa-zero3, BRANCH: vendor }
    - { BOARD: rockpro64, BRANCH: current }
    - { BOARD: rock-5a, BRANCH: vendor }
    - { BOARD: rock-5b, BRANCH: vendor }
    - { BOARD: rock-5c, BRANCH: vendor }
    - { BOARD: rock-5-itx, BRANCH: vendor }
    - { BOARD: rock-5b-plus, BRANCH: vendor }
    - { BOARD: rpi4b, BRANCH: current }
    - { BOARD: rpi5b, BRANCH: current }
    - { BOARD: orangepi4-lts, BRANCH: current }
    - { BOARD: orangepi5, BRANCH: vendor }
    - { BOARD: orangepi5-plus, BRANCH: vendor }
    - { BOARD: uefi-x86, BRANCH: current }
    - { BOARD: uefi-arm64, BRANCH: current }

  home-assistant: &home-assistant
    - { BOARD: nanopi-r4s, BRANCH: current }
    - { BOARD: rockpi-e, BRANCH: current }
    - { BOARD: sk-am62b, BRANCH: edge }
    - { BOARD: sk-am64b, BRANCH: current }
    - { BOARD: bananapicm4io, BRANCH: current }
    - { BOARD: bananapim2pro, BRANCH: current }
    - { BOARD: bananapim2s, BRANCH: current }
    - { BOARD: bananapim4zero, BRANCH: current }
    - { BOARD: bananapim5, BRANCH: current }
    - { BOARD: bananapim7, BRANCH: vendor }
    - { BOARD: bigtreetech-cb1, BRANCH: current }
    - { BOARD: inovato-quadra, BRANCH: current }
    - { BOARD: helios64, BRANCH: current }
    - { BOARD: khadas-edge2, BRANCH: vendor, ENABLE_EXTENSIONS: "image-output-oowow,ha"}
    - { BOARD: khadas-vim1, BRANCH: current }
    - { BOARD: khadas-vim1s, BRANCH: legacy, ENABLE_EXTENSIONS: "image-output-oowow,ha"}
    - { BOARD: khadas-vim2, BRANCH: current }
    - { BOARD: khadas-vim3, BRANCH: current, ENABLE_EXTENSIONS: "image-output-oowow,ha" }
    - { BOARD: khadas-vim3l, BRANCH: current, ENABLE_EXTENSIONS: "image-output-oowow,ha" }
    - { BOARD: khadas-vim4, BRANCH: legacy, ENABLE_EXTENSIONS: "image-output-oowow,ha"}
    - { BOARD: lafrite, BRANCH: current }
    - { BOARD: lepotato, BRANCH: current }
    - { BOARD: nanopi-m6, BRANCH: vendor }
    - { BOARD: nanopi-r6s, BRANCH: vendor }
    - { BOARD: nanopct6, BRANCH: vendor }
    - { BOARD: nanopct6-lts, BRANCH: vendor }
    - { BOARD: odroidm1, BRANCH: current }
    - { BOARD: odroidn2, BRANCH: current }
    - { BOARD: odroidc4, BRANCH: current }
    - { BOARD: odroidhc4, BRANCH: current }
    - { BOARD: odroidn2l, BRANCH: current }
    - { BOARD: orangepi3, BRANCH: current }
    - { BOARD: orangepi3b, BRANCH: current }
    - { BOARD: orangepi3-lts, BRANCH: current }
    - { BOARD: orangepi4-lts, BRANCH: current }
    - { BOARD: orangepi5, BRANCH: vendor }
    - { BOARD: orangepi5-plus, BRANCH: vendor }
    - { BOARD: orangepizero2, BRANCH: current }
    - { BOARD: orangepizero2w, BRANCH: current }
    - { BOARD: orangepizero3, BRANCH: current }
    - { BOARD: renegade, BRANCH: current }
    - { BOARD: radxa-zero3, BRANCH: vendor }
    - { BOARD: rockpro64, BRANCH: current }
    - { BOARD: rock-3a, BRANCH: current }
    - { BOARD: rock-5a, BRANCH: vendor }
    - { BOARD: rock-5b, BRANCH: vendor }
    - { BOARD: rock-5c, BRANCH: vendor }
    - { BOARD: rock-5-itx, BRANCH: vendor }
    - { BOARD: rock-5b-plus, BRANCH: vendor }
    - { BOARD: rock-5-cm-rpi-cm4-io, BRANCH: vendor }
    - { BOARD: rock-s0, BRANCH: current }
    - { BOARD: rpi4b, BRANCH: current }
    - { BOARD: rpi5b, BRANCH: current }
    - { BOARD: sk-tda4vm, BRANCH: current }
    - { BOARD: tritium-h5, BRANCH: current }
    - { BOARD: onecloud, BRANCH: current }
    - { BOARD: tinkerboard, BRANCH: current }
    - { BOARD: uefi-x86, BRANCH: current }
    - { BOARD: uefi-arm64, BRANCH: current }
    - { BOARD: youyeetoo-r1-v3, BRANCH: vendor }

  openhab: &openhab
    - { BOARD: nanopi-r4s, BRANCH: current }
    - { BOARD: rockpi-e, BRANCH: current }
    - { BOARD: sk-am62b, BRANCH: edge }
    - { BOARD: sk-am64b, BRANCH: current }
    - { BOARD: bananapicm4io, BRANCH: current }
    - { BOARD: bananapim2pro, BRANCH: current }
    - { BOARD: bananapim2s, BRANCH: current }
    - { BOARD: bananapim5, BRANCH: current }
    - { BOARD: bigtreetech-cb1, BRANCH: current }
    - { BOARD: khadas-edge2, BRANCH: vendor, ENABLE_EXTENSIONS: "image-output-oowow,openhab"}
    - { BOARD: khadas-vim1, BRANCH: current }
    - { BOARD: khadas-vim1s, BRANCH: legacy, ENABLE_EXTENSIONS: "image-output-oowow,openhab"}
    - { BOARD: khadas-vim2, BRANCH: current }
    - { BOARD: khadas-vim3, BRANCH: current, ENABLE_EXTENSIONS: "image-output-oowow,openhab" }
    - { BOARD: khadas-vim3l, BRANCH: current, ENABLE_EXTENSIONS: "image-output-oowow,openhab" }
    - { BOARD: khadas-vim4, BRANCH: legacy, ENABLE_EXTENSIONS: "image-output-oowow,openhab"}
    - { BOARD: lafrite, BRANCH: current }
    - { BOARD: lepotato, BRANCH: current }
    - { BOARD: odroidc4, BRANCH: current }
    - { BOARD: odroidhc4, BRANCH: current }
    - { BOARD: odroidm1, BRANCH: current }
    - { BOARD: odroidn2, BRANCH: current }
    - { BOARD: odroidn2l, BRANCH: current }
    - { BOARD: orangepi4-lts, BRANCH: current }
    - { BOARD: orangepi5, BRANCH: vendor }
    - { BOARD: orangepi5-plus, BRANCH: vendor }
    - { BOARD: radxa-zero3, BRANCH: vendor }
    - { BOARD: rock-5-itx, BRANCH: vendor }
    - { BOARD: rock-5b-plus, BRANCH: vendor }
    - { BOARD: rock-5a, BRANCH: vendor }
    - { BOARD: rock-5b, BRANCH: vendor }
    - { BOARD: rock-5c, BRANCH: vendor }
    - { BOARD: rockpi-e, BRANCH: current }
    - { BOARD: rockpro64, BRANCH: current }
    - { BOARD: rpi4b, BRANCH: current }
    - { BOARD: rpi5b, BRANCH: current }
    - { BOARD: sk-tda4vm, BRANCH: current }
    - { BOARD: tritium-h5, BRANCH: current }
    - { BOARD: uefi-x86, BRANCH: current }
    - { BOARD: uefi-arm64, BRANCH: current }

  omv: &omv
    - { BOARD: bananapim7, BRANCH: vendor }
    - { BOARD: helios64, BRANCH: current }
    - { BOARD: khadas-edge2, BRANCH: vendor, ENABLE_EXTENSIONS: "image-output-oowow,omv"}
    - { BOARD: khadas-vim1, BRANCH: current }
    - { BOARD: khadas-vim2, BRANCH: current }
    - { BOARD: khadas-vim3, BRANCH: current, ENABLE_EXTENSIONS: "image-output-oowow,omv" }
    - { BOARD: rock-5-itx, BRANCH: vendor }
    - { BOARD: odroidn2, BRANCH: current }
    - { BOARD: odroidc4, BRANCH: current }
    - { BOARD: odroidhc4, BRANCH: current }
    - { BOARD: odroidm1, BRANCH: current }
    - { BOARD: odroidxu4, BRANCH: current }
    - { BOARD: orangepi5, BRANCH: vendor }
    - { BOARD: orangepi5-plus, BRANCH: vendor }
    - { BOARD: onecloud, BRANCH: current }
    - { BOARD: renegade, BRANCH: current }
    - { BOARD: rock-3a, BRANCH: current }
    - { BOARD: rock-5c, BRANCH: vendor }
    - { BOARD: rpi4b, BRANCH: current }
    - { BOARD: rpi5b, BRANCH: current }
    - { BOARD: cm3588-nas, BRANCH: vendor }
    - { BOARD: nanopct4, BRANCH: current }
    - { BOARD: nanopct6, BRANCH: vendor }
    - { BOARD: nanopct6-lts, BRANCH: vendor }
    - { BOARD: nanopi-m6, BRANCH: vendor }
    - { BOARD: nanopi-r6c, BRANCH: vendor }
    - { BOARD: nanopi-r6s, BRANCH: vendor }
    - { BOARD: nanopi-r5c, BRANCH: vendor }
    - { BOARD: nanopi-r5s, BRANCH: vendor }
    - { BOARD: uefi-x86, BRANCH: current }
    - { BOARD: uefi-arm64, BRANCH: current }
    - { BOARD: youyeetoo-r1-v3, BRANCH: vendor }

targets:

  # OpenMediaVault
  minimal-cli-stable-debian-omv:
    enabled: yes
    configs: [ armbian-apps ]
    pipeline:
      gha: *armbian-gha
      build-image: "yes"
    vars:
      RELEASE: bookworm
      BUILD_MINIMAL: "yes"
      BUILD_DESKTOP: "no"
      ENABLE_EXTENSIONS: "omv"
      NETWORKING_STACK: "systemd-networkd"
    items:
      - *omv

  # Home assistant
  minimal-cli-stable-debian-ha:
    enabled: yes
    configs: [ armbian-apps ]
    pipeline:
      gha: *armbian-gha
      build-image: "yes"
    vars:
      RELEASE: bookworm
      BUILD_MINIMAL: "yes"
      BUILD_DESKTOP: "no"
      ENABLE_EXTENSIONS: "ha"
      NETWORKING_STACK: "network-manager"
    items:
      - *home-assistant

  # OpenHab
  cli-stable-debian-oh:
    enabled: yes
    configs: [ armbian-apps ]
    pipeline:
      gha: *armbian-gha
      build-image: "yes"
    vars:
      RELEASE: bookworm
      BUILD_MINIMAL: "no"
      BUILD_DESKTOP: "no"
      ENABLE_EXTENSIONS: "openhab"
    items:
      - *openhab

  # Armbian security
  cli-unstable-debian-kali:
    enabled: yes
    configs: [ armbian-apps ]
    pipeline:
      gha: *armbian-gha
      build-image: "yes"
    vars:
      RELEASE: sid
      BUILD_MINIMAL: "no"
      BUILD_DESKTOP: "no"
      ENABLE_EXTENSIONS: "kali"
    items:
      - *armbian-security
