org: "armbian" # can't be an expression, only string.

# armbian/build coordinates
org_and_build_repo: "armbian/build"
release_repo: "os"
build_ref: "v23.11"
script_name: "Build Standard Support Images (admin)"
concurrency_group: "${{ github.run_id }}-pipeline-stable"
repository_ref: "stable"
team: "Release manager"

# menu defaults
skipImagesDefaults: "'no'"
checkOciDefaults: "'yes'"
nightlybuildDefaults: "'no'"
bumpVersion: "'false'"

# armbian/os coordinates. set all to empty to not use userpatches.
org_and_userpatches_repo: "armbian/os"
userpatches_ref: "main"
userpatches_dir: "userpatches" # folder inside the userpatches repo; use "." if stuff is in the root of the repo
targets_filename: "targets-release-standard-support.yaml" # we need to split

ghcr_user: "${{ github.repository_owner }}"
userpatches_config_for_prepare_job: "armbian-images" # use "" for no config file

# repository runner
repository_runner: "[ repository ]"

# when this should run
cron_job: ""
