org: "armbian" # can't be an expression, only string.

# armbian/build coordinates
org_and_build_repo: "armbian/build"
release_repo: "os"
build_ref: "main"
script_name: "Build Nightly Images (cronjob)"
concurrency_group: "pipeline"
#concurrency_group: "${{ github.run_id }}-pipeline-nightly"
repository_ref: "nightly"
team: "Release manager"

# menu defaults
skipImagesDefaults: "'no'"
checkOciDefaults: "'yes'"
nightlybuildDefaults: "'yes'"
bumpVersion: "'true'"

# armbian/os coordinates. set all to empty to not use userpatches.
org_and_userpatches_repo: "armbian/os"
userpatches_ref: "main"
userpatches_dir: "userpatches" # folder inside the userpatches repo; use "." if stuff is in the root of the repo
targets_filename: "targets-release-nightly.yaml"

ghcr_user: "${{ github.repository_owner }}"
userpatches_config_for_prepare_job: "armbian-images" # use "" for no config file

# repository runner
repository_runner: "[ repository ]"

# when this should run
cron_job: "schedule:\n   - cron: '00 8 * * *'\n  push:\n    branches:\n      - 'main'\n    paths:\n      - 'userpatches/targets-release-nightly.yaml'"
