org: "armbian" # can't be an expression, only string.

# armbian/build coordinates
org_and_build_repo: "armbian/build"
release_repo: "community"
build_ref: "main"
script_name: "Build Community Images (cronjob)"
concurrency_group: "${{ github.run_id }}-pipeline-stable"
repository_ref: "stable"
team: "Release manager"

# menu defaults
skipImagesDefaults: "'no'"
checkOciDefaults: "'yes'"
nightlybuildDefaults: "'yes'"
bumpVersion: "'true'"

# armbian/os coordinates. set all to empty to not use userpatches.
org_and_userpatches_repo: "armbian/os"
userpatches_ref: "main"
userpatches_dir: "userpatches" # folder inside the userpatches repo; use "." if stuff is in the root of the repo
targets_filename: "targets-release-community-maintained.yaml"

ghcr_user: "${{ github.repository_owner }}"
userpatches_config_for_prepare_job: "armbian-community" # use "" for no config file

# repository runner
repository_runner: "[ repository ]"

# when this should run
cron_job: "schedule:\n   - cron: '0 9 * * THU'\n"
