name: "Build One by One (anyone)"
on:
  workflow_dispatch:
    inputs:

      armbian_target:
        type: choice
        description: 'Build'
        required: false
        options:
        - kernel
        - build
        default: build

      armbian_kernel_branch:
        type: choice
        description: 'Kernel branch'
        options:
        - legacy
        - current
        - edge
        default: 'current'

      armbian_release:
        type: choice
        description: 'Userspace'
        options:
        - jammy
        - bookworm
        - trixie
        default: 'jammy'

      armbian_ui:
        type: choice
        description: 'User interface (not all works)'
        options:
        - minimal
        - server
        - xfce
        - gnome
        - cinnamon
        - i3-wm
        - kde-plasma
        default: 'minimal'

      armbian_version:
        description: 'Version'
        required: false
        default: ''

      armbian_board:
        type: choice
        description: 'Board'
        options:
        - armsom-sige7
        - armsom-w3
        - bananapi
        - bananapicm4io
        - bananapim1plus
        - bananapim2plus
        - bananapim2pro
        - bananapim2s
        - bananapim2ultra
        - bananapim2zero
        - bananapim3
        - bananapim5
        - bananapim64
        - bananapipro
        - bananapir2
        - bananapir2pro
        - beaglev
        - bigtreetech-cb1
        - clearfogbase
        - clearfogpro
        - clockworkpi-a06
        - cubieboard
        - cubieboard2
        - cubieboard4
        - cubietruck
        - cubietruckplus
        - cubox-i
        - espressobin
        - firefly-rk3399
        - fxblox-rk1
        - helios4
        - helios64
        - hikey960
        - hinlink-h28k
        - hinlink-h88k
        - hinlink-ht2
        - indiedroid-nova
        - inovato-quadra
        - jethubj100
        - jethubj80
        - jetson-nano
        - khadas-edge
        - khadas-edge2
        - khadas-vim1
        - khadas-vim1s
        - khadas-vim2
        - khadas-vim3
        - khadas-vim3l
        - khadas-vim4
        - lafrite
        - lepotato
        - licheepi-4a
        - lime-a33
        - lime-a64
        - lime
        - lime2
        - macchiatobin-doubleshot
        - mangopi-m28k
        - mekotronics-r58-minipc
        - mekotronics-r58x-4g
        - mekotronics-r58x-pro
        - mekotronics-r58x
        - melea1000
        - micro
        - mixtile-blade3
        - mk808c
        - nanopct4
        - nanopct6
        - nanopi-r1
        - nanopi-r1s-h5
        - nanopi-r2c
        - nanopi-r2s
        - nanopi-r4s
        - nanopi-r4se
        - nanopi-r5c
        - nanopi-r5s
        - nanopi-r6s
        - nanopia64
        - nanopiair
        - nanopiduo
        - nanopiduo2
        - nanopik1plus
        - nanopik2-s905
        - nanopim4
        - nanopim4v2
        - nanopineo
        - nanopineo2
        - nanopineo2black
        - nanopineo3
        - nanopineo4
        - nanopineocore2
        - nanopineoplus2
        - odroidc2
        - odroidc4
        - odroidhc4
        - odroidm1
        - odroidn2
        - odroidn2l
        - odroidxu4
        - olimex-teres-a64
        - olinux-som-a13
        - onecloud
        - orangepi-r1
        - orangepi-r1plus-lts
        - orangepi-r1plus
        - orangepi-rk3399
        - orangepi2
        - orangepi3-lts
        - orangepi3
        - orangepi3b
        - orangepi4-lts
        - orangepi4
        - orangepi5-plus
        - orangepi5
        - orangepilite
        - orangepilite2
        - orangepione
        - orangepioneplus
        - orangepipc
        - orangepipc2
        - orangepipcplus
        - orangepiplus
        - orangepiplus2e
        - orangepiprime
        - orangepiwin
        - orangepizero
        - orangepizero2
        - orangepizero3
        - orangepizeroplus
        - orangepizeroplus2-h3
        - orangepizeroplus2-h5
        - panther-x2
        - pcduino3
        - pine64
        - pine64so
        - pinebook-a64
        - pinebook-pro
        - pinecube
        - pineh64-b
        - pineh64
        - qemu-uboot-arm64
        - qemu-uboot-x86
        - quartz64a
        - quartz64b
        - radxa-e25
        - radxa-zero
        - radxa-zero2
        - recore
        - renegade
        - roc-rk3399-pc
        - rock-3a
        - rock-4se
        - rock-5-cmio
        - rock-5a
        - rock-5b
        - rock64
        - rockpi-4a
        - rockpi-4b
        - rockpi-4bplus
        - rockpi-4c
        - rockpi-4cplus
        - rockpi-e
        - rockpi-n10
        - rockpi-s
        - rockpro64
        - rpi4b
        - rpi5b
        - sk-am62b
        - sk-am64b
        - sk-tda4vm
        - star64
        - station-m1
        - station-m2
        - station-m3
        - station-p1
        - station-p2
        - thinkpad-x13s
        - tinkerboard-2
        - tinkerboard
        - tritium-h3
        - tritium-h5
        - udoo
        - uefi-arm64
        - uefi-riscv64
        - uefi-x86
        - unleashed
        - unmatched
        - visionfive
        - visionfive2
        - wdk2023
        - wsl2-arm64
        - wsl2-x86
        - xiaomi-elish
        - zeropi
jobs:

  build:
    name: "Build Armbian"
    runs-on: ubuntu-latest
    steps:

      - uses: armbian/build@v23.11.2
        with:
          armbian_token:              "${{secrets.GITHUB_TOKEN}}"
          armbian_target:             "${{inputs.armbian_target}}"
          armbian_release:            "${{inputs.armbian_release}}"
          armbian_kernel_branch:      "${{inputs.armbian_kernel_branch}}"
          armbian_ui:                 "${{inputs.armbian_ui}}"
          armbian_board:              "${{inputs.armbian_board}}"
          armbian_release_tittle:     "Armbian SDK"
          armbian_release_body:       "Virtual images for x86 and arm64"
          armbian_pgp_key:            "${{secrets.GPG_KEY1}}"
          armbian_pgp_password:       "${{secrets.GPG_PASSPHRASE1}}"
