name: Set PR and issues labels from yaml

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
    paths:
      - '.github/labels.yml'
  pull_request:
    paths:
      - '.github/labels.yml'

jobs:
  labeler:
    if: ${{ github.repository_owner == 'Armbian' }}
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v6
      -
        name: Run Labeler
        uses: crazy-max/ghaction-github-labeler@v6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          yaml-file: .github/labels.yml
          dry-run: ${{ github.event_name == 'pull_request' }}
          exclude: |
            Maintenance*
