#
# This action recreate action for building stable images
#
name: Recreate action
on:
  workflow_dispatch:
  repository_dispatch:
    types: [Refresh board list]

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:

  build:
    name: Recreate action
    if: ${{ github.repository_owner == 'Armbian' }}
    runs-on: ubuntu-latest
    steps:
    
    - name: Checkout Armbian Framework
      uses: actions/checkout@v3.3.0
      with:
        persist-credentials: false
        repository: armbian/build
        ref:  main
        fetch-depth: 1
        clean: false
        path: build

    - name: Checkout Armbian OS Config
      uses: actions/checkout@v3.3.0
      with:
        persist-credentials: false
        repository: armbian/os
        ref:  main
        clean: false
        fetch-depth: 0
        path: os        
        
    - name: Create local changes
      run: |
      
        ls -1 build/config/boards/*.{conf,eos,wip} | cut -d"/" -f4 | cut -d"." -f1 | uniq | sed 's/.*/        - &/' > temp.txt
        sed '/# boards/r temp.txt' os/.github/workflows/build-images.template > os/.github/workflows/build-images.yml
        sed -i '1 i\# DO NOT EDIT THIS FILE AS ITS AUTO GENERATED' os/.github/workflows/build-images.yml        
        cd os
        git add .github/workflows/build-images.yml
        git config --local user.email "info@armbian.com"
        git config --local user.name "Armbianworker"
        git commit --allow-empty -m "Update board list within actions" -a
        
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.ACCESS_TOKEN }}
        repository: armbian/os
        branch: ${{ github.ref }}
        directory: os
