name: "Test $GITHUB_WORKFLOW"
on:
  push:
  workflow_dispatch:

jobs:
  Cancel:
    name: "Run"
    runs-on: "ubuntu-latest"
    steps:
      - name: Repository Dispatch
        run: |
          echo "$GITHUB_WORKFLOW"
