name: Generate index
on:
  workflow_dispatch:

jobs:

  Check:
  
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
    name: "Check membership"
    runs-on: ubuntu-latest
    steps:

      - name: Checkout OS repository
        uses: actions/checkout@v3
        with:
          repository: armbian/os
          fetch-depth: 1
          clean: false

      - name: Generate downloadable files index
        run: |

          A=$(LC_ALL=sl_SI.UTF-8 rsync -ar rsync://rsync.armbian.com/dl/ | awk '{ print $2" " "https://dl.armbian.com/"$5" "$3"?"$4 }' | grep "archive/" | sed -e 's| |"\|"|g' -e 's|^|"|g' -e 's|$|"|g')
          B=$(LC_ALL=sl_SI.UTF-8 gh release view --json assets --repo github.com/armbian/os | jq '.assets[] | .size, .url, .createdAt' | xargs -n3 -d'\n' | sed "s/\"//g"| sed -e 's| |"\|"|g' -e 's|^|"|g' -e 's|$|"|g')
          for line in $A $B; do
              SIZE=$(echo $line | cut -d"|" -f1 | sed "s/\"//g" | sed "s/\.//g" | sed "s/\,//g" )
              SIZE=$(echo "scale=0; $(echo $SIZE)/1024/1024" | bc -l)"Mb"
              DATETIME=$(echo $line | cut -d"|" -f3 | sed "s/\"//g")
              DATETIME=$(date -d "$(echo $DATETIME | sed "s/?/ /g")" +%s)
              URL=$(echo $line | cut -d"|" -f2 | sed "s/\"//g")
              NAME=$(echo $URL | cut -d"_" -f3 | awk '{print tolower($0)}')
              sufix=$(echo $URL | rev | cut -d'.' -f 1 | rev | sed "s/^/./" | sed "s/.xz//g")
              out_release=$(echo $URL | cut -d"_" -f4)
              out_branch=$(echo $URL | cut -d"_" -f5)
              out_kernel=$(echo $URL | cut -d"_" -f6-7 | cut -d"." -f1-3 | cut -d"_" -f1)
              out_desktop=$(echo $URL | cut -d"_" -f7- | cut -d"." -f1 | cut -d"_" -f1)
              echo "$NAME/${out_release^}_${out_branch}$([[ -n "${out_desktop}" ]] && echo "_")${out_desktop}_nightly${sufix}|$URL|$DATETIME|$SIZE"
          done | sort > index.csv

      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.KEY_UPLOAD }}
          known_hosts: ${{ secrets.KNOWN_HOSTS_ARMBIAN_UPLOAD }}
          if_key_exists: replace

      - name: Upload index
        run: |

          rsync -e "ssh -p ${{ secrets.HOST_UPLOAD_PORT }}" -arvc --remove-source-files index.csv ${{ secrets.HOST_UPLOAD_USER }}@${{ secrets.HOST_UPLOAD }}:/incoming/json
