#
# This action recreate action for building stable images
#
name: Watchdog (cronjob)
on:
  schedule:
    - cron: '*/30 * * * *'
  workflow_dispatch:

env:
  GH_TOKEN: ${{ secrets.ACCESS_TOKEN_ARMBIANWORKER }}

concurrency:
  group: watchdog-${{ github.ref }}
  cancel-in-progress: true

jobs:

  gradle:
    strategy:
      fail-fast: false
      max-parallel: 8
      matrix:
        image: ["complete-artifact-matrix-all","complete-artifact-matrix-nightly","complete-artifact-matrix-stable"]
    
    name: Restart
    runs-on: ubuntu-latest
    steps:
    
      - name: Show
        run: |
          echo ${{ matrix.image }}

      - name: "Nightly images and rootfs"
        run: |

          OWNER_REPO="armbian/os"
          ATTEMPTS="3"

          WORKFLOW=$(gh api "/repos/${OWNER_REPO}/actions/workflows" | jq '.workflows[] | select(.path==.github/workflows/${{ matrix.image }}.yml)' | jq -r '.id')
          read ID STATUS ATTEMPT <<< $(gh api "/repos/${OWNER_REPO}/actions/workflows/${WORKFLOW}/runs" | jq '.workflow_runs[]' | jq -r '.id,.conclusion,.run_attempt' | head -3 | xargs -n3 -d'\n')

          # Debug print
          echo "ID=$ID STATUS=$STATUS ATTEMPT=$ATTEMPT"

          # if attempt is lower then 5 and status is "cancelled" or "failed", rerun failed jobs
          if [ "${ATTEMPT}" -lt "${ATTEMPTS}" ] && ([ "$STATUS" == "failure" ] || [ "$STATUS" == "cancelled" ]); then
          gh api --method POST -H "Accept: application/vnd.github+json" -H "X-GitHub-Api-Version: 2022-11-28" /repos/${OWNER_REPO}/actions/runs/${ID}/rerun-failed-jobs
          fi

          WORKFLOW=$(gh api "/repos/${OWNER_REPO}/actions/workflows" | jq '.workflows[] | select(.name=="Build Root Filesystem (cronjob)")' | jq -r '.id')
          read ID STATUS ATTEMPT <<< $(gh api "/repos/${OWNER_REPO}/actions/workflows/${WORKFLOW}/runs" | jq '.workflow_runs[]' | jq -r '.id,.conclusion,.run_attempt' | head -3 | xargs -n3 -d'\n')

          # Debug print
          echo "ID=$ID STATUS=$STATUS ATTEMPT=$ATTEMPT"

          # if attempt is lower then 5 and status is "cancelled" or "failed", rerun failed jobs
          if [ "${ATTEMPT}" -lt "${ATTEMPTS}" ] && ([ "$STATUS" == "failure" ] || [ "$STATUS" == "cancelled" ]); then
          gh api --method POST -H "Accept: application/vnd.github+json" -H "X-GitHub-Api-Version: 2022-11-28" /repos/${OWNER_REPO}/actions/runs/${ID}/rerun-failed-jobs
          fi
